{% extends "base.html" %}


{% block content %}


<main>
    <form method="post" enctype="multipart/form-data">

  
            {% csrf_token %}


            <label for="">Nome</label>
            <br>
            {{ form.name }}
            <br>
            <label for="">Descrição</label>
            <br>
            {{ form.description }}
            <br>
            <label for="">Ano Lançamento</label>
            <br>
            {{ form.release_year }}
            <br>
            <br>
            {{ form.foto }}
            <br>
      
        <br>
        <input class="confirm-post" type="submit" value="Cadastrar">
    </form>
</main>
{% endblock %}